.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    height: 50vh;
}

.sobre h1{
    margin-right: 200px;
    border-bottom: 1px solid #93e7f4;
    display: inline-block;
}

.sobre p{
    font-size: 24px;
}