.apresentacao{
    display: flex;
    justify-content: space-between;

    height: 90vh;
    padding: 0 64px;
    
    align-items: center;
}

.apresentacao div{
    margin-left:  64px;
}

.apresentacao h1{
    font-size: 64px;
    color: #93e7f4;
}

.apresentacao h2{
    font-size: 32px;
    margin: 0;
}

.apresentacao p{
    font-size: 25px;
    margin-top: 10px;
    color: #fff;
    width: 400px
}

.apresentacao button{
    font-family: 'Quicksand';
    font-weight: 700;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 5px;
}

.apresentacao img{
    background-color: #7356b7;
    border-radius: 100%;
    max-height: 360px;
    max-width: 350px;
    margin-right: 64px;
}