header{
	margin: 0;
	height: 10vh;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	width: 100%;
	transition: 2s;
}

.ativaCor{
	background-color: #000000;
	transition: 2s;
}

header h1{
	margin-left: 125px;
}

header ul{
	display: flex;
	margin-right: 125px;
}

header li{
	list-style: none;

	margin-right: 15px;
	padding-bottom: 5px;

	border-bottom: 1px solid #93e7f4;
	transition: 1s;
}

header a{
	text-decoration: none;
}


header a:hover{
	background-color: #7356b7;
	border-radius: 90px;
	padding: 2px 15px;
	transition: 1s;
}

header h1,a{
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}