.cabecalho{
	margin: 0;
	height: 10vh;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cabecalho h1{
	margin-left: 32px;
	border-radius: 90%;
	padding: 15px;
}

.cabecalho div{
	display: flex;
}

.cabecalho h3{
	margin-right: 32px;
	padding-bottom: 5px;

	border-bottom: 1px solid #93e7f4;
	transition: 1s;
}


.cabecalho h3:hover{
	background-color: #7356b7;
	border-radius: 90px;
	padding: 2px 15px;
	transition: 1s;
	border-bottom: 1px solid #fff;
}

.cabecalho h1,h3{
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}