.projetos{
    text-align: center;
    height: 80vh;
    padding: 0px 64px;
}

.projetos h1{
    margin-bottom: 50px;
    border-bottom: 1px solid #93e7f4;
    display: inline-block;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div{
    margin: 5px 10px;
    width: 300px;
    height: 165px;
    padding: 0 20px;

    box-shadow: 10px 10px 50px #161616;
}

.play-requisicoes{
    background-image: url('../../imagens/plataforma.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.consultalivros{
    background-image: url('../../imagens/consultalivros.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.teladecep{
    background-image: url('../../imagens/paginalogin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.projetos button{
    font-family: 'Quicksand';
    font-weight: 700;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;

    cursor: pointer;
}

.projetos a {
    text-decoration: none;
}